@using DataAccess.Data.Entities;
@model List<Post>;

@{
    string atSymbol = "@";
}

<div class="d-flex flex-row flex-md-wrap justify-content-center align-items-center">

    @foreach (var post in Model)
    {
        <div class="card m-4 w-50">
            <div class="card-header d-flex align-items-center">
                <img src="@post.User.AvatarImageUrl" class="avatar rounded-circle"/>
                <p class="card-text m-2">@atSymbol@post.User.NickName</p>
            </div>
            <img src="@post.ImageLink" class="card-img-top" alt="Post image">
            <div class="card-body">
                <p class="card-text">@post.TextContent</p>
            </div>
        </div>
    }
</div>
