html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
    height: 40vh;
    object-fit: cover;
}

.avatar {
    height: 5vh;
    width: 5vh;
}

.editPostButton{
    height:fit-content;

    position:relative;
    left:90%;
    top:-90%;
}

.w-30{ 
    width:30%!important;
}

.w-60{
    width:60%!important;
}

.w-40 {
    width: 40% !important;
}

.h-85{
    height:93%!important;
}

.h-86{
    height:86%!important;
}

a {
    all: unset;

    cursor:pointer;
}

.nick-name{
    font-weight:bold;
}

.accountLink{
    transition:.2s;
}

.accountLink:hover{
    scale:1.1;
}

/* CSS стилі */
.modal {
    display: none;

    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height:90%;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
